


h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
}

p {
font-family: "Droid Serif", serif;
}

body {
text-align: center;
text-decoration: none;
}

.memory {
font-family: Raleway;
color:0d2c40;
letter-spacing: 1px;
font-weight: 400;
font-size: 45px;

}

.instructions_game {
font-family: Raleway; 
color: #f15b31
letter-spacing: 1px;
font-weight: 600;
font-size: 18px;
}

.game {
font-family: Raleway;
color: #0d2c40;
letter-spacing: 1px;
font-weight: 600;
font-size: 20px;	
}